<% unless Rails.env.test? %>
<%# Advertise is not displayed by test environment. %>
<div id="advertise" class="mb-1">
  <div class="text-center">
    <script src="//adm.shinobi.jp/o/ebbf53292603f6e0e709f4fd878b7c0f"></script>
  </div>
</div>
<% end %>
