<% unless Rails.env.test? %>
<div class="text-center mb-3">
  <div class="d-none d-md-block">
    <a href="https://px.a8.net/svt/ejp?a8mat=35733K+9YEYYA+407E+699KH" target="_blank" rel="nofollow">
    <img border="0" width="728" height="90" alt="" src="https://www23.a8.net/svt/bgt?aid=190127216602&wid=001&eno=01&mid=s00000018689001051000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=35733K+9YEYYA+407E+699KH" alt="">
  </div>
  <div class="d-block d-md-none">
    <a href="https://px.a8.net/svt/ejp?a8mat=35733K+9YEYYA+407E+5ZMCH" target="_blank" rel="nofollow">
    <img border="0" width="300" height="250" alt="" src="https://www29.a8.net/svt/bgt?aid=190127216602&wid=001&eno=01&mid=s00000018689001006000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=35733K+9YEYYA+407E+5ZMCH" alt="">
  </div>
</div>
<% end %>
