<div id="advertise" class="container mb-1">
  <div class="d-block d-sm-none">
    <a href="https://px.a8.net/svt/ejp?a8mat=35733K+9YEYYA+407E+5ZU29" target="_blank" rel="nofollow">
    <img border="0" width="234" height="60" alt="" src="https://www29.a8.net/svt/bgt?aid=190127216602&wid=001&eno=01&mid=s00000018689001007000&mc=1" class="d-block mx-auto"></a>
    <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=35733K+9YEYYA+407E+5ZU29" alt="">
  </div>
  <div class="d-none d-sm-block d-md-none">
    <a href="https://px.a8.net/svt/ejp?a8mat=35733K+9YEYYA+407E+5ZEMP" target="_blank" rel="nofollow">
    <img border="0" width="320" height="50" alt="" src="https://www26.a8.net/svt/bgt?aid=190127216602&wid=001&eno=01&mid=s00000018689001005000&mc=1" class="d-block mx-auto"></a>
    <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=35733K+9YEYYA+407E+5ZEMP" alt="">
  </div>
  <div class="d-none d-md-block">
    <a href="https://px.a8.net/svt/ejp?a8mat=35733K+9YEYYA+407E+699KH" target="_blank" rel="nofollow">
    <img border="0" width="728" height="90" alt="" src="https://www28.a8.net/svt/bgt?aid=190127216602&wid=001&eno=01&mid=s00000018689001051000&mc=1" class="d-block mx-auto"></a>
    <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=35733K+9YEYYA+407E+699KH" alt="">
  </div>
</div>
