<div id="main_content" class="grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="card">
        <div class="card-content center-align">
          <p class="card-title"><%= @problem %></p>
        </div>
      </div>
    </div>

    <div id="category_area" class="sortable-category"></div>

    <hr>

    <div class="section">
      <div class="section center">
        <button type="button" id="add_category_button" class="btn waves-effect waves-light yellow grey-text text-darken-4"><i class="material-icons left">add</i>Add Category</button>
      </div>
      <div id="no_category" class="row mb-0 sortable-answer">
        <% @answers.each do |ans| %>
          <div class="col s12 m6">
            <div class="card my-1 hoverable">
              <div class="card-content center-align">
                <div class="answer" onclick="edit_answer($(this))"><%= ans %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="section center">
      <%= link_to result_path(problem: @problem, answers: @answers), id: :finish_ks_button, class: "waves-effect waves-light btn" do %>
        <i class="material-icons left">check</i>FINISH
      <% end %>
    </div>
  </div>
</div>
