<div class="container mb-5">
  <p class="h2 mt-5 mb-4 text-center text-secondary">おつかれさまでした</p>
  <div class="card mb-4 p-4">
    <p id="problem" class="mb-1 h5 text-center"><span class="hashtag">#</span><%= @problem %></p>
    <p class="mb-3 h5 text-center"><i class="fas fa-chevron-down"></i></p>

    <% if @answers.present? %>
      <ul id="result_list" class="list-group">
        <% @answers.each do |ans| %>
          <li class="list-group-item d-flex justify-content-between align-items-center result-item" style="cursor: pointer;">
            <span class="result-item-name"><span class="hashtag">#</span><%= ans %></span>
            <span class="badge"><i class="fas fa-times delete-badge"></i></span>
          </li>
        <% end %>
      </ul>
      <div class="mt-3 clearfix">
        <span class="float-left">
          <i id="change_hashtag_mode_icon" class="fas fa-hashtag mx-2 h4 text-secondary active" style="cursor: pointer;"></i>
        </span>
        <span class="float-right">
          <i id="share_result_on_twitter" class="fab fa-twitter mx-2 h4" style="color: #55acee; text-decoration: none; cursor: pointer;"></i>
          <i id="share_result_on_facebook" class="fab fa-facebook mx-2 h4" style="color: #3B5998; text-decoration: none; cursor: pointer;"></i>
          <i id="copy_icon" class="far fa-copy mx-2 h4" style="cursor: pointer;"></i>
        </span>
      </div>
    <% else %>
      <p class="text-center">何も思いつきませんでした...</p>
    <% end %>
  </div>
  <%= link_to "トップページ", root_path, id: "top_link", class: "btn btn-secondary w-50 d-block mx-auto", style: "min-width: 200px;", data: {"turbolinks": false} %>
</div>

<%= render partial: "advertise" %>

<%# modal that changes category's name %>
<div class="modal fade" id="category_name_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">カテゴリ名の変更</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="category_name_form">
          <div class="form-group">
            <input id="category_name_input" class="form-control" value="">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="category_name_modal_cancel" type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button id="category_name_modal_save" type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<%# copy area %>
<div id="copy_area"></div>
