@font-face {
  font-family: 'GenJyuuGothic';
  src: font-url('GenJyuuGothic-Normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geotica';
  src: font-url('Geotica_2012.otf') format('opentype');
}

.font-geotica {
  font-family: 'Geotica'!important;
}
