@charset "UTF-8";

@import '_font_family';
@import '_spaces';

// Colors
@import "materialize/components/color-variables";
$primary-color: color("yellow", "base") !default;
$secondary-color: color("blue", "base") !default;

@import 'materialize';
@import 'main';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'GenJyuuGothic'!important;
  color: #212121;
}

.text-no-decoration {
  text-decoration: none!important;
}
