// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#eye_catch {
  background-color: color("yellow", "base");
  @media (max-width: 600px) { background-image: image-url("eye_catch_sp.jpg"); }
  @media (min-width: 601px) { background-image: image-url("eye_catch_pc.jpg"); }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color-burn;
}

#second_eye_catch {
  background-color: rgba(0,0,0,0.6);
  @media (max-width: 600px) { background-image: image-url("second_eye_catch_sp.jpg"); }
  @media (min-width: 601px) { background-image: image-url("second_eye_catch_pc.jpg"); }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color-burn;
  color: white;
}

.rule-card {
  background-color: rgba(0,0,0,0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color-burn;
  color: white;
}

.first-rule { background-image: image-url("not_hurry.jpg"); }
.second-rule { background-image: image-url("freedom.jpg"); }
.third-rule { background-image: image-url("quantity.jpg"); }
.forth-rule { background-image: image-url("collaboration.jpg"); }

#first_rule {
  background-color: rgba(0,0,0,0.8);
  background-image: image-url("not_hurry.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color-burn;
  color: white;
}

#first_rule {
  background-color: rgba(0,0,0,0.8);
  background-image: image-url("not_hurry.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color-burn;
  color: white;
}

.vh-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-icon {
  text-decoration: none;
  height: 3rem!important;
  width: 3rem!important;
  line-height: 3rem!important;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
