<div class="col s12 m6 my-1">
  <div class="card my-0">
    <div class="card-content">
      <span class="card-title blue-text"><%= text_en %></span>
      <p><%= text_jp %></p>
    </div>
  </div>
</div>
