<div class="col s12 m6 my-2">
  <div class="card my-0 h-100 rule-card <%= order %>">
    <div class="card-content py-5">
      <div class="card-title yellow-text mb-3">
        <p class="left-align"><%= text_en %></p>
        <p class="right-align">- <%= text_jp %> -</p>
      </div>
      <p><%= advise %></p>
    </div>
  </div>
</div>
