<div class="container section">
  <h4 class="mb-5">プライバシーポリシー</h4>

  <% if false %>
  <h5>広告の配信について</h5>
  <p>
    当サイトは第三者配信の広告サービス「Google Adsense グーグルアドセンス」を利用しています。<br>
    広告配信事業者は、ユーザーの興味に応じた広告を表示するためにCookie（クッキー）を使用することがあります。
    Cookie（クッキー）を無効にする設定およびGoogleアドセンスに関する詳細は「<a href="https://policies.google.com/technologies/ads" target="_blank" class="text-info">広告 – ポリシーと規約 – Google</a>」をご覧ください。
  </p>
  <% end %>

  <h5>アクセス解析ツールについて</h5>
  <p>
    当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。<br>
    このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。
    このトラフィックデータは匿名で収集されており、個人を特定するものではありません。
    この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。
    この規約に関して、詳しくは<a href="https://www.google.com/analytics/terms/jp.html" target="_blank" class="text-info">こちら</a>をご確認ください。<br>
  </p>

  <h5>免責事項</h5>
  <p>
    当サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。
    当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
  </p>
</div>
