<% unless Rails.env.test? %>
<%# Advertise is not displayed by test environment. %>
<div class="grey lighten-5">
  <div class="section center-align">
    <script src="//adm.shinobi.jp/o/ab88907d06adc6a2d371d9b31c090c35"></script>
  </div>
</div>
<% end %>
