<footer class="page-footer grey lighten-3 p-0">
  <div class="container center-align section">
  <ul class="mt-0 mb-1">
    <li class="mx-1" style="display: inline-block;"><%= link_to "Terms of service", tos_path, id: :fmenu_to_tos, class: "nav-link text-reset" %></li>
    <li class="mx-1" style="display: inline-block;"><%= link_to "Privacy policy", pp_path, id: :fmenu_to_pp, class: "nav-link text-reset" %></li>
  </ul>
  <div class="my-1">
    <div class="grey-text text-darken-3 mb-1">
      リリース情報やお問い合わせは
      <a class="fab fa-twitter mx-1" style="color: #55acee; font-size: 1.5rem;" href="https://twitter.com/intent/follow?screen_name=at_946" target="_blank"></a>
      で。
    </div>
  </div>
  <span class="grey-text text-darken-4">(c) 2019 at. All rights reserved.</span>
  </div>
</footer>
