<nav>
  <div class="nav-wrapper yellow z-depth-1">
    <%= link_to root_path, id: :logo, class: "brand-logo blue-text center", data: {turbolinks: false} do %>
    <span class="yellow-text text-darken-4">S</span>-BR<span class="yellow-text text-darken-4">S</span>T
    <% end %>
  </div>
</nav>
