<nav>
  <div class="nav-wrapper yellow lighten-2 z-depth-1">
    <%= link_to "とりあえずブレスト", root_path, id: :logo, class: "font-851tegaki-zatsu brand-logo blue-text center header-logo", data: {turbolinks: false} %>
  </div>
</nav>
