<nav>
  <div class="nav-wrapper yellow lighten-2">
    <%= link_to "とりあえずブレスト", root_path, id: :logo, class: "font-851tegaki-zatsu brand-logo blue-text center", style: "font-size: 1.2rem; font-weight: bold; text-shadow: 0.1rem 0.1rem 0 white;" %>
  </div>
</nav>
