<nav>
  <div class="nav-wrapper valign-wrapper yellow z-depth-1">
    <%= link_to root_path, id: :logo, class: "brand-logo center", data: {turbolinks: false} do %>
      <%= svg_tag "header_logo.svg", class: "logo vh-center" %>
    <% end %>
  </div>
</nav>
