<div class="text-right mt-3">
  <a class="fab fa-twitter mx-1 h4" style="color: #55acee; text-decoration: none;" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.toriaezu-brasto.tk&hashtags=%E3%81%A8%E3%82%8A%E3%81%82%E3%81%88%E3%81%9A%E3%83%96%E3%83%AC%E3%82%B9%E3%83%88" target="_blank" rel="noopener noreferrer"></a>
  <a class="fab fa-facebook mx-1 h4" style="color: #3B5998; text-decoration: none;" href="https://www.facebook.com/dialog/share?app_id=405634673528282&display=popup&href=https%3A%2F%2Fwww.toriaezu-brasto.tk" target="_blank" rel="noopener noreferrer"></a>
</div>
